.expense-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.expense-container h2 {
  margin-bottom: 10px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.friend-select,
.amount-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-btn {
  padding: 10px,3px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-btn:hover{
  background-color: black;
}

.reason-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.expense-list {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.expense-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.expense-item:last-child {
  border-bottom: none;
}

.expense-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 10px;
}

.expense-name {
  flex-grow: 1;
}

.expense-actions {
  display: flex;
  gap: 5px;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
